# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
backend/venv/
backend/chrome_debug_profile/

# Datos generados (CSV, Excel)
backend/data/*.csv
backend/data/*.xlsx
backend/data/*.json
backend/data/*.png

# Perfiles de navegador (Pesados y con credenciales)
backend/profiles/
backend/chrome_debug_profile/

# Logs y temporales
*.log
.DS_Store

# IDEs
.vscode/
.idea/
